#home {
    background: url('/images/background-1.png');
    background-size: cover;
    background-position: center;
}
.post-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}